.food{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
   padding: 20px 20px 20px 20px;
   border-radius: 10px;
    background-color: rgb(181, 240, 72);
  }

  .food:hover{
    background-color: rgb(190, 238, 15);
  }
 

  .member{
    background:#d9df87;
    padding-top:20px;
    padding-bottom: 50px;
    
  }

  button{
    float: initial;
  align-items: centre;
  }

  .welcome{
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 20px;
    grid-area: header;
    font-size: 2.5rem;
    padding:20px;
    color:black;
  }


  .row{
    display:  flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
  }
  .rowblock{
    background-color:  #c3d613;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   flex: 0 1 20rem;
   margin: 2rem;
   padding: 2rem;
   border-radius: 1rem;
   height: 25rem;
   border: .1rem #c0c0c0 solid;
  }
  
  
 
  /* .btn-food{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  } */

  .btn-food-result{
    background-color: rgb(181, 240, 72);
    color: rgb(0, 0, 0);
    padding: 20px 20px;
    border-radius: 5px;
    margin: 2% 40%;
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
  }
